<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=APIKEY&libraries=services,clusterer,drawing"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=33499167139d4e25003051e4b0dc78b3"></script>
    <script defer src="../static/script/app.js"></script>
    <title>Document</title>
</head>
<body>
    <!-- Nav -->
    <nav class="h-16 flex justify-between">
        <a href="#" class="text-4xl">HOME</a>
    </nav>

    <!-- Wrapper -->
    <div class="w-4/5 mx-auto flex flex-col justify-center">
        <span class="mx-auto text-2xl">KAKAO MAP</span>
        <div id="map" class="mx-auto h-60 w-60"></div>
        <p class="flex flex-col justify-center"> 
            <button onclick="zoomIn()" class="w-1/6 mx-auto border border-black rounded-lg my-px">지도레벨 - 1</button>
            <button onclick="zoomOut()" class="w-1/6 mx-auto border border-black rounded-lg my-px">지도레벨 + 1</button>
            <span id="maplevel" class="mx-auto my-px"></span>
        </p>
    </div>

</body>
</html>